{% extends 'dashboard/base.html' %}


{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-sm-12 mb-12">
      <div class="card mb-3">
        <div class="card-body">

          <h1><center> INVENTORY VIEW<center> </h1>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
	<br>
	<div class="row">
			<div class="col-3">
				<center><a class="btn btn-outline-success" href="{% url 'addExcelStock' %}">Add by Excel Spreadsheet <i class="far fa-file-excel"></i></a></center>
			</div>
			<div class="col-6">
			</div>
			<div class="col-3">
				<center><a href="{% url 'addIneventoryManual' %}" class="btn btn-outline-primary"> Update Stock Manually <i class="fas fa-pencil-alt"></i></a></center>
			</div>
	</div>

	<table class="table">
  <thead>
    <tr>
      <th scope="col"><center>Item Name</center></th>
      <th scope="col"><center>Quantity</center></th>
      <th scope="col"><center>Selling Price per Unit</center></th>
      <th scope="col"><center>Cost Per Unit</center></th>
    </tr>
  </thead>
  <tbody>
		{% for item in items%}
    <tr>

      <td><center>{{item.name}}</center></td>
      <td><center>{{item.stock}}</center></td>
      <td><center>{{item.salesPrice}}</center></td>
			<td><center>{{item.costPrice}}</center></td>

    </tr>
		{%endfor%}
  </tbody>
</table>
</div>


{%endblock%}
