{% extends 'dashboard/base.html' %}


{%block content%}

<div class="container-fluid">
  <div class="row">
    {% for invoice in invoices %}
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Invoice Number: {{invoice.pk}}</div>
        <div class="card-body">

            Date: <br>
            Total: <br>
            Final Sale: <br>

        </div>
        <div class="card-footer small text-muted"><a href="{% url 'invoice' invoice.pk %}">See Details</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{%endblock%}
