{% extends 'dashboard/base.html' %}


{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-sm-12 mb-12">
      <div class="card mb-3">
        <div class="card-body">

          <h1><center> INVOICE VIEW<center> </h1>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% for invoice in invoices %}
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Invoice Number: {{invoice.pk}}</div>
        <div class="card-body">
            Customer: {{invoice.customerfName}} {{invoice.customerlName}} <br>
            Date: {{invoice.dateCreated}}<br>
            Total: {{invoice.total}}<br>
            Final Sale:{{invoice.finalSale}} <br>

        </div>
        <div class="card-footer small text-muted"><a href="{% url 'invoice' invoice.pk %}">See Details</a></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{%endblock%}
